.sp_Tq3-c1yLCzh{background-image:url(/rsrc.php/v3/yX/r/ioCruUz2Vod.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_Tq3-c1yLCzh.sx_8044bf{background-position:0 0}.sp_Tq3-c1yLCzh.sx_f89ac1{background-position:0 -13px}

#bootloader_lRccj{height:42px;}.bootloader_lRccj{display:block!important;}